title1{
    text-align: center;
}

.fixed-top{
    background-color: red;
}

.nav-link{
    color: white;
}

.navbar-brand{
    color:white;
}

footer{
    background-color:red;
}

.card-title{
    text-align: center;
}

.title2{
    color:red;
}


.h1Inscrip{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}